html {
	height: 100%;
}
body {
	background:url(../img/hawaiiocean01.jpg) center top no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;	
}
#app {
	/*max-width: 800px;*/
	max-width: 81.125%;
	height: 95%;
	/*height: 700px;*/
	margin: auto;
	border-radius: 7px;
	/*padding: 2px;*/
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	background-color: rgba(72,72,72,0.5);
}
.topnav {
	background: url(../img/navbar.jpg) center top no-repeat; 
	margin: 0;
	background-size: cover;
	-webkit-border-radius: 7px;
  	-moz-border-radius: 7px;
  	border-bottom-left-radius: 0;
  	border-bottom-right-radius: 0;
  	border-top-left-radius: 7px;
  	border-top-right-radius: 7px;
  	border: none;
  	position: fixed;
  	width: 81.125%;
  	top: 0;
}
h1 {
	margin: auto 0;
	padding-top: 0.25em;
	text-align: center;
	font-size: 3.8em;
	letter-spacing: 5px;
}
.text-messaging {
	max-width: 71.125%
	margin: 0 auto;
	padding: 4em 5em 0px 5em;
	overflow: auto;
	height: 500px;
	overflow-x: hidden;
}
.avatar {
	width: 80px;
	display: inline-block;
	vertical-align: bottom;
	padding-right: 10px;	
}
.howzm-box {
	border-radius: 5px 20px 5px;
	/*max-width: 280px;*/
	max-width: 12em;
	min-height: 50px;
	display: inline-block;
	padding: 10px;
	background-color: white;
}
#translations {
	list-style: none;
	padding: 0;
}
.answer-roost,
.question-rac,
.rooster {
	padding: 20px 0;
}
.rooster {
	padding-top: 40px;
}
.question-rac {
	float: right;
	display: inline;
}
.question-rac img {
	padding-right: 0;
	padding-left: 10px;
}
.question-rac .howzm-box {
	background-color: #eae6bc;
	border-radius: 20px 5px 20px;
}
.answer-roost {
	clear: both;
}
.bottomnav {
	overflow: hidden;
	background: #fa602a;
	width: 100%;
	-webkit-border-radius: 7px;
  	-moz-border-radius: 7px;
  	border-bottom-left-radius: 7px;
  	border-bottom-right-radius: 7px;
  	border-top-left-radius: 0;
  	border-top-right-radius: 0;
  	border: none;
  	position: relative;
  	bottom: 5px;
  	height: 9em;
  	z-index: 5;
}
.inputbox {
	position: absolute;
	left: 50px;
	top: 30px;
	z-index: 1;
	font-family: 'Sofadi One', cursive;
	padding-bottom: 30px;
	line-height: 1.5;
}
.raccoon {
	vertical-align: middle;
}
#new {
	display: inline-block;
	vertical-align: top;
}
#new-request {
	padding: 8px;
	border: 0;
	resize: none;
}
#new-request:focus {
	box-shadow: 0;
	border: 1px solid #65e3d3;
	outline: none;
}
#send {
	border: 2px solid black;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #fa602a;
	color: black;
	display: inline-block;
	text-align: center;
	padding: 12px;
	width: 140px;
	margin-left: 10px;
	position: relative;
	cursor: pointer;
	vertical-align: top;
}
#send:hover {
	background-color: black;
	color: #fa602a;
}
textarea:focus, 
button:focus {
	outline: none;
}
.socialicons {
	display: none;
	position: relative;
	bottom: 40px;
	left: 590px;
	color: white;
	margin: 0;
	padding: 0;
	width: 140px;
	list-style: none;
}
.socialicons li {
	display: inline;
	padding: 0 5px;
	font-size: 24px;
}
.socialicons li:hover {
	color: black;
}
.row {
	display: none;
}
.loading {
   font-size: 18px;
}

@-webkit-keyframes dancing-dots-jump {
  0% { top: 0; }
  55% { top: 0; }
  60% { top: -10px; }
  80% { top: 3px; }
  90% { top: -2px; }
  95% { top: 1px; }
  100% { top: 0; }
}
@-moz-keyframes dancing-dots-jump {
  0% { top: 0; }
  55% { top: 0; }
  60% { top: -10px; }
  80% { top: 3px; }
  90% { top: -2px; }
  95% { top: 1px; }
  100% { top: 0; }
}
.loading span span {
  -webkit-animation-duration: 1800ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: dancing-dots-jump;
  -moz-animation-duration: 1800ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: dancing-dots-jump;
  padding: 1px;
  position: relative;
}
.loading span span:nth-child(2) {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
}
.loading span span:nth-child(3) {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
}
footer {
	padding: 5px 20px;
	color: #3f4655;
	font-size: 12px;
	text-align: center;
}
footer a {
	text-decoration: none;
	color: #3f4655;
}
footer a:hover {
	color: #fa602a;
}
.not-hidden {
	display: block !important;
}

/*Media Query: max-width 768*/
@media screen and (max-width: 768px) {

	body {
		font-size: 16px;
	}
	.avatar {
		width: 70px;
	}
	.loading {
		font-size: 16px;
	}
	.bottomnav {
		height: 12em;
	}
	#new-request {
		max-width: 25em;
	}
	#send {
		margin-left: 22.5em;
		margin-top: 1.1em;
	}
	/*.socialicons {
		left: 25em;
	}*/
}

/*Media Query: max-width 480 */
@media screen and (max-width: 480px) {
	.text-messaging {
		padding: 4em 2em 0px 2em;
	}
	#new-request {
		max-width: 13em;
	}
	#send {
		margin-left: 10.6em;
	}
	/*.socialicons {
		bottom: 2.2em;
		left: 15.5em;
	}*/
}