body {
	/*background: #FAFAFA;*/
	/*background: url(../img/hawaiiocean.jpg) center top no-repeat;*/
	background-size: cover;
	margin: 0 auto;
	width: 100%;
	font-family: 'Helvetica Neue', sans-serif;
	 -webkit-font-smoothing: antialiased;
	 font-size: 16px;
	 padding-top: 200px;
}
.topnav {
	background: url(../img/navbar.jpg) center top no-repeat; 
	background-size: cover;
	margin: 0;
	height: 200px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
h1 {
	text-align: center;
	margin: auto 0;
	padding-top: 40px;
	letter-spacing: 5px;
	color: black;
	font-size: 60px;
}
.text-messaging {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 80px;
}
.howzm-box {
	border-radius: 5px 20px 5px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border: 1px solid #6fa0a5;
	max-width: 200px;
	min-height: 50px;
	display: inline-block;
	padding: 10px;
	background-color: #c5dee2;
	background-image: linear-gradient(white, #c5dee2);
}
.avatar {
	width: 80px;
	display: inline-block;
	vertical-align: bottom;
	padding-right: 10px;
}
.raccoon {
	vertical-align: middle;
}
.bottomnav {
	background: #fa602a;
	width: 100%;
	min-height: 150px;
	position: fixed;
	bottom: 0;
}
.inputbox {
	position: fixed;
	bottom: 0;
	z-index: 1;
	font-family: 'Sofadi One', cursive;
	padding-bottom: 30px;
}
#new {
	display: inline-block;
	vertical-align: top;
}
#newRequest {
	padding: 10px;
}
textarea {
	resize: none;
}
